$ftc-white: #ece5e5;
$ftc-black: #222222;
$ftc-red: #a20000;
$ftc-bright-red: #cf0000;
$ftc-dark-grey: #797979;
$ftc-light-grey: #a29d9d;

$section-white: #f9f9f6;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);


$header-height: 55px;
